html {
    font-size: 100%;
}

body {
    background-color: #f6f6f6;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #3a91e8;
}

a:hover {
    text-decoration: underline;
}

body.recipe-page {
    margin-bottom: 6rem;
}

.recipe-banner {
    max-width: 960px;
    margin: 0 auto -80px;
    text-align: center;
}

.recipe-banner .recipe-image {
    max-width: 100%;
    height: 0;
    box-shadow: 0 1px 10px rgb(0 0 0 / 8%);
    padding-bottom: calc(540 / 960 * 100%);
    background-size: cover;
}

.no-banner-spacer {
    margin-top: 42px;
}

.recipe-boxes {
    position: relative;
    max-width: 88%;
    margin: 0px auto 0;
}

.recipe-box {
    box-sizing: border-box;
    max-width: 800px;
    padding: 24px;
    margin: 0px auto 42px;
    background: white;
    box-shadow: 0 1px 10px rgb(0 0 0 / 8%);
}

@media only screen and (min-width: 600px) {
    .recipe-box {
        padding: 60px;
    }
}

.title-area {
    display: flex;
    justify-content: space-between;
}

.recipe-title {
    font-size: 2rem;
    font-weight: 600;
    color: #272727;
}

.recipe-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
}

.description-area {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: solid 1px #e0e0e0;
}

.box-title {
    font-size: 2rem;
    font-weight: 500;
    color: #343434;
    padding-bottom: 1.25rem;
}

.ingredient-list {
    padding-bottom: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px #e0e0e0;
}

.ingredient-list:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.ingredient-list-ingredients {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 4%;
}

.ingredient {
    width: 100%;
    /* display: grid; */
}

@media only screen and (min-width: 600px){
    .ingredient {
        width: 48%;
    }
}

.ingredient-cost {
    display: none;
    color: green;
}

.ingredient-amount {
    line-height: 1.4;
}

.ingredient-item {
    line-height: 1.4;
    font-weight: 600;
    color: #343434;
}

.ingredient-item-descriptor {
    margin-left: 8px;
    color: #888;
    font-style: italic;
    font-weight: 400;
}

.step {
    display: flex;
    padding: 0 0 1.25rem 0;
    margin: 0 0 1.25rem 0;
    border-bottom: solid 1px #E0E0E0;
}

.step:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.step-number-circle {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 3rem;
    margin-right: 1.25rem;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number-number {
    font-size: 1.5rem;
    color: #343434;
}

.step-text {
    font-size: 1rem;
    color: #545454;
}



.home-link {
    margin: 0 auto;
    text-align: center;
    max-width: 2rem;
}

.home-link svg {
    fill: #ccc;
    transition: fill 0.3s;
}

.home-link a:hover svg {
    fill: #999;
}





.settings-btn {
    width: 1.5rem;
    fill: #ccc;
    transition: fill 0.3s;
    cursor: pointer;
}

.settings-btn:hover {
    fill: #999;
}









.per-serving {

}

.per-recipe {
    font-weight: 600;
}

.serving-recipe-divider {
    margin: 0 2px;
}




.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 10px rgb(0 0 0 / 8%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding: 60px 20px 20px;
    /* border-left: solid 1px #ccc; */
    margin-right: -250px;
}

.nav-open .sidenav {
    margin-right: 0;
}

.nav-open .recipe {
    margin-right: 250px;
}

@media only screen and (max-width: 600px) {
    .nav-open .recipe {
        margin-right: 0;
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #444;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.recipe {
    transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.show-ingredient-cost .ingredient-cost {
    display: block;
}