html {
    background: #f6f6f6;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    min-height: 100vh;
}

body, h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    max-width: 900px;
    margin:  0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.site-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
}


/* RECIPE CARDS */
.recipe-cards {
    min-width: 65%;
    padding: 0 10px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.recipe-image-area {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0.1) 100%);
}

.recipe-image {
    padding-bottom: calc(540 / 720 * 100%);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0);
}

.recipe-image-wrap img {
    max-width:  100%;
    vertical-align: bottom; /* remove gap below image */
}

.recipe-title-area {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #333;
}

.recipe-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
}


/* STACK FILTERS AND CARDS */
@media only screen and (min-width: 600px) {

    .filters {
        min-width: 35%;
    }

    .recipe-card {
        flex-direction: row;
    }
    
    .recipe-image-area {
        width:  35%;
    }

    .recipe-image {
        position: relative;
        height: 0;
    }

}

/* EXPAND CARDS */
@media only screen and (min-width: 800px) {

    .content {
        flex-direction: row;
    }
    
    .filter-content {
        position: fixed;
        
    }



}


/* SEARCH */

.search-box {
    min-width: 250px;
    max-width: 300px;
    padding: 0;
    background: #00000011;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.search-box:focus-within {
    background: white;
    box-shadow: 0px 1px 3px 0 rgba(70,70,70,0.4);
}

.search-input {
    height: 2.5rem;
    border: none;
    padding-left: 10px;
    flex-grow: 1;
    background: transparent;
}

.search-input:focus-visible {
    outline: none;
}





.search-active .recipe-card {
    display: none;
}

.search-active .search-result-card {
    display: flex;
}









/* DARK THEME */

.theme-dark {
    background-color: #222;
}

.theme-dark .recipe-image-area {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 100%);
}

.theme-dark .recipe-image {
    filter: brightness(80%);
}

.theme-dark .recipe-card {
    background-color: #2a2a2a;
    box-shadow: 0 1px 10px rgb(0 0 0 / 24%);
}

.theme-dark .site-title,
.theme-dark .recipe-title {
    color: #ccc;
}


/* search box */
.theme-dark .search-box {
    background-color: #444;
}

.theme-dark .search-input {
    color: #ddd;
}

.theme-dark .search-box:focus-within {
    background: #ddd;
}

.theme-dark ::placeholder {
    color: #bbb;
}

.theme-dark .search-box:focus-within ::placeholder {
    color: #888;
}

.theme-dark .search-box:focus-within .search-input {
    color: #222;
}



@media (prefers-color-scheme: dark) {

    .theme-system {
        background-color: #222;
    }
    
    .theme-system .recipe-image-area {
        background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 100%);
    }

    .theme-system .recipe-image {
        filter: brightness(80%);
    }
    
    .theme-system .recipe-card {
        background-color: #2a2a2a;
        box-shadow: 0 1px 10px rgb(0 0 0 / 24%);
    }
    
    .theme-system .site-title,
    .theme-system .recipe-title {
        color: #ccc;
    }




    .theme-system .search-box {
        background-color: #444;
    }
    
    .theme-system .search-input {
        color: #ddd;
    }
    
    .theme-system .search-box:focus-within {
        background: #ddd;
    }
    
    .theme-system ::placeholder {
        color: #bbb;
    }

    .theme-system .search-box:focus-within ::placeholder {
        color: #888;
    }
    
    .theme-system .search-box:focus-within .search-input {
        color: #222;
    }
    
}