html {
    background: #f6f6f6;
    font-family: 'Source Sans Pro', sans-serif;
}

body, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    max-width: 900px;
    margin:  0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.site-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #444;
}


/* RECIPE CARDS */
.recipe-cards {
    min-width: 65%;
    padding: 0 10px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.recipe-image-area {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,0.1) 100%);
}

.recipe-image {
    padding-bottom: calc(540 / 720 * 100%);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0);
}

.recipe-image-wrap img {
    max-width:  100%;
    vertical-align: bottom; /* remove gap below image */
}

.recipe-title-area {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #333;
}

.recipe-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #999;
}


/* STACK FILTERS AND CARDS */
@media only screen and (min-width: 600px) {

    .filters {
        min-width: 35%;
        /*flex: 1 1 40%;*/
    }

    .recipe-card {
        flex-direction: row;
    }
    
    .recipe-image-area {
        width:  35%;
    }

    .recipe-image {
        position: relative;
        height: 0;
    }

}

/* EXPAND CARDS */
@media only screen and (min-width: 800px) {

    .content {
        flex-direction: row;
    }
    
    .filter-content {
        position: fixed;
    }



}


/* DARK THEME */

.theme-dark {
    background-color: #222;
}

.theme-dark .recipe-image-area {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 100%);
}

.theme-dark .recipe-image {
    filter: brightness(80%);
}

.theme-dark .recipe-card {
    background-color: #2a2a2a;
    box-shadow: 0 1px 10px rgb(0 0 0 / 24%);
}

.theme-dark .site-title,
.theme-dark .recipe-title {
    color: #ccc;
}

@media (prefers-color-scheme: dark) {

    .theme-system {
        background-color: #222;
    }
    
    .theme-system .recipe-image-area {
        background-image: linear-gradient(45deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 100%);
    }

    .theme-system .recipe-image {
        filter: brightness(80%);
    }
    
    .theme-system .recipe-card {
        background-color: #2a2a2a;
        box-shadow: 0 1px 10px rgb(0 0 0 / 24%);
    }
    
    .theme-system .site-title,
    .theme-system .recipe-title {
        color: #ccc;
    }
}